

 .frame-16 {
  margin-right: 3.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9.4rem;
  box-sizing: border-box;
}

 .rectangle {
  background: #D9D9D9;
  margin-bottom: 8.4rem;
  width: 9.4rem;
  height: 9.4rem;
}

 .wafiyana,.fadly,.rakha,.dzika {
  margin-bottom: 10.3rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lexend';
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 1 rem;
  color: #000000;
}

 .group-20 {
  margin-bottom: 1.9rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 1px;
}

 .container-kotak {

  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
  
}


