*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
    padding-top: 50px;
}
.Tittle{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

/*content 2*/
.content2{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(196, 3, 255, 0);
    margin-top: 120px;
   
}
.tittle2{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: rgb(0, 0, 0);
}
.drama{
    padding: 0 20px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 60px;
    padding-top: 50px;
    margin: 0 auto;
    justify-content: center;
}
.drama1 {
    margin-right: 30px;
}
.drama1,.drama2{
    width: 50%;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.drama1 img,.drama2 img{
    width: 100%;
}
.drama1 h3,.drama2 h3{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.drama1 a,.drama2 a{
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    display: grid;
    margin: 0 auto;
}

/*content 2*/


/*content 3*/
.content3{
    width: 100%;
    height: 30rem;
}
.tittle3{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    color: rgb(0, 0, 0);
}
.html,.css,.js,.figma {
    width: 200px;
    height: auto;
    cursor: pointer;
    filter: grayscale(0);
}

.html:hover,.css:hover,.js:hover,.figma:hover{
    filter: grayscale(100%);
    transition: 0.6 ease-out;
}
/*content 3*/

@media (max-width:765px){
    .gambar{
        grid-template-columns: 1fr 1fr;
    }
    .drama {
        flex-direction: column;
    }
    .drama2,.drama1 {
        margin-top: 20px;
    }
    .drama1 {
        margin-right: 0px;
    }
    .drama1,.drama2{
        width: 90%;
        height: 300px;
    }
    .drama1 h3,.drama2 h3{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .html,.css,.js,.figma {
        width: 150px;
        height: auto;
    }

}
